body{

    margin: none;
    padding-top: 5%;
    padding-left: 30px;
    padding-right: 35px;
    background-color: rgba(0, 0, 0, 0.885);
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
}

.headings{
    font-size: 20px;
    color: rgb(192, 139, 7);
    font-weight: 600;
}


.content{

    color:rgb(215, 184, 107)
}

.dp{

    padding: none;
    border-radius: 80%;
    width: 200px;
    height: 200px;
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.dp:hover {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.icon{

    color:rgb(215, 184, 107);
    font-size: 60px;
    transition: transform 0.3s ease;
    padding: 20px;
}

.icon:hover {
    transform: scale(1.5);
}

.image-container {
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 30px;
    transition: transform 0.3s ease;
}

.image-container img {
    display: block;
    width: 100%; 
    height: auto; 
    border: none;
    border-radius: 10px;
}

.image-container:hover{

    transform: scale(1.2);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
}
