body{

    margin: none;
    padding-top: 5%;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(0, 0, 0, 0.885);
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    padding-bottom: 60px;
}

.headings{
    font-size: 40px;
    color: rgb(192, 139, 7);
    font-weight: 600;
}

.line{

    border-color: rgb(192, 139, 7);
    width: 400px;
    border-width: 2px; 
    border-style: solid; 
    margin: 20px 0;
}


.content{

    color:rgb(215, 184, 107);
    font-size: 35px;
}


.dp{

    padding: none;
    border-radius: 50px;
    width: 400px;
    height: 400px;
    margin-right: 70px;
    transition: .5s;
}

.dp:hover {
	box-shadow: 0px 15px 25px rgb(192, 139, 7);
    transform: translateY(-5px);
}

.icon{
    border:none;
    color:rgb(215, 184, 107);
    font-size: 100px;
    margin-right: 80px;
    border:none;
    transition: .5s;
    
}


.icon:hover {
    transform: scale(1.5);
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 400px;
    padding: 60px;
    transition: transform 0.3s ease;
}

.image-container img {
    display: block;
    width: 100%; 
    height: auto; 
    border: none;
    border-radius: 10px;
}

.image-container:hover{

    transform: scale(1.2);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
}
